body {
    margin: 0; 
    font-family: sans-serif; 
    background-color: white; 
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up the full viewport height */
}

header {
    padding: 22px;
    text-align: center; /* Center align text */
}

header span {
    font-size: 14px; 
    font-weight: normal; 
}

main {
    padding: 50px 70px; /* Add padding around content */
    max-width: 680px; /* Limit content width */
    margin: 0 auto; /* Center content */
    flex: 1; /* Allow the main content to grow and push the footer down */
}

main h1 {
    font-size: 2.2em; /* Larger font size for subheadings */
    margin-bottom: 1.5rem; /* Space below heading */
    text-align: center; /* Center align the heading */
    margin-top: 1rem; /* Move closer to the header */
}

main p {
    margin-bottom: 20px; /* Space between paragraphs */
    font-size: 19px;
}

footer {
    text-align: center; 
    margin-top: 20px; 
    font-size: 14px; 
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none; 
    color: #333; 
    transition: color 0.3s; 
}

footer a:hover {
    color: #bdc8d4; 
}

/* Shop Grid Layout */
.shop-grid-container {
    width: 100%; /* Full width of the page */
    padding: 20px; /* Add padding around the grid */
    display: flex;
    justify-content: center; /* Center the grid horizontally */
}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr)); /* Responsive columns */
    gap: 20px; /* Space between items */
    width: 80%; /* Make the grid span the full width */
}

/* Shop Item */
.shop-item {
    background-color: #efefef; /* Light gray background */
    border-radius: 10px; /* Rounded corners */
    height: 390px; /* Fixed height for items */
    display: flex;
    justify-content: center;
    align-items: center;
}